body {
    background-color: #0e0d10;
    color: #f6f0ff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: linear-gradient(90deg, #ff4f9a, #ff72c2);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo {
    width: 60px;
    border-radius: 15px;
}

main {
    padding: 30px;
}

h1, h2, h3 {
    color: #ff7adb;
}

.form-group {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

input, button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

button {
    background-color: #ff4f9a;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #ff72c2;
}

.card {
    border: 1px solid #ff4f9a;
    border-radius: 15px;
    background-color: #1c1820;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    box-shadow: 0 0 20px rgba(255, 0, 128, 0.2);
}

.dobly-img {
    width: 120px;
    margin-top: 10px;
    border-radius: 15px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    background-color: #1a1720;
    color: #ccc;
    font-size: 13px;
}
